dcc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.9.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcc="https://intranet.ptb.de/fileadmin/dokumente/intranet/abteilungen/abteilung_1/Digitaler_Kalibrierschein/DCC" xmlns:si="https://intranet.ptb.de/fileadmin/dokumente/intranet/abteilungen/abteilung_1/Digitaler_Kalibrierschein/SI" targetNamespace="https://intranet.ptb.de/fileadmin/dokumente/intranet/abteilungen/abteilung_1/Digitaler_Kalibrierschein/DCC" elementFormDefault="qualified">

<xs:import namespace="https://intranet.ptb.de/fileadmin/dokumente/intranet/abteilungen/abteilung_1/Digitaler_Kalibrierschein/SI" 
schemaLocation="https://intranet.ptb.de/fileadmin/dokumente/intranet/abteilungen/abteilung_1/Digitaler_Kalibrierschein/SI/SI_Format_v1.0.1.xsd"/>

<xs:annotation>
	<xs:documentation>
	</xs:documentation>
</xs:annotation>
	
	<xs:element name="digitalCalibrationCertificate"><!--00010-->
	
		<xs:complexType>
			<xs:sequence>
				<xs:element name="administrativeData"><!--00100-->
					<xs:complexType>
						<xs:all>
							<xs:element name="dccSoftware" type="dcc:softwareParameter" /><!--00110-->
							<xs:element name="coreData" type="dcc:coreDataParameter"/><!--00120-->
							<xs:element name="items" type="dcc:itemParameter"/><!--00130-->
							<xs:element name="calibrationLaboratory" type="dcc:calibrationLaboratoryParameter"/><!--00140-->
							<xs:element name="respPersons" type="dcc:respPersonParameter"/><!--00160-->
							<xs:element name="customer" type="dcc:contact"/><!--00180-->
							<xs:element name="statements" type="dcc:statementParameter" minOccurs="0"/><!--00230-->
						</xs:all>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="measurementResults"><!--00300-->
					<xs:complexType>
						<xs:sequence>
							<!-- kommt aus administrativeData 
                            <xs:element name="condition" type="dcc:textBlock" minOccurs="0"/>
                            <xs:element name="usedSoftware" type="dcc:softwareParameter" />
                            <xs:element name="usedMethods" type="dcc:usedMethodParameter"/>
                            <xs:element name="samplingDate" type="xs:date" minOccurs="0"/>
                            <xs:element name="sampledMaterials" type="dcc:sampledMaterialParameter" minOccurs="0"/>
                            <xs:element name="calibrationLocations" type="dcc:calibrationLocationParameter"/>
                            <xs:element name="externals" type="dcc:externalParameter" minOccurs="0"/>
                            <xs:element name="metrologicallyTraceable" type="dcc:metrologicallyTraceableParameter" minOccurs="0"/>
                            -->
                            
                            <xs:element name="influenceConditions" type="dcc:influenceConditionParameter"/><!--00301-->
							<xs:element name="adjustmentBeforeConditions" type="dcc:adjustmentConditionParameter" minOccurs="0" /><!--00302-->
							<xs:element name="adjustmentAfterConditions" type="dcc:adjustmentConditionParameter" minOccurs="0" /><!--00303-->
							<xs:element name="repairBeforeConditions" type="dcc:repairConditionParameter" minOccurs="0" /><!--00304-->
							<xs:element name="repairAfterConditions" type="dcc:repairConditionParameter" minOccurs="0" /><!--003050-->
							<xs:element name="results" type="dcc:resultParameter"/><!--00306-->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="comments" type="xs:string" minOccurs="0"/><!--00700-->
				
				<xs:element name="document" type="dcc:byteDataBlock" minOccurs="0"/><!--00800-->
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--   #####################################################################################

			Elements of the administrativeData part of the DCC
-->
	<xs:complexType name="softwareParameter"><!--11000-->
		<xs:annotation>
			<xs:documentation>
				Clear description of the software-version and the creator of the software used to create and process the DCC
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="software" maxOccurs="unbounded"><!--1100M-->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/><!--11010-->
						<xs:element name="release" type="xs:string"/><!--11030-->
						<xs:element name="description" type="dcc:textBlock" minOccurs="0" maxOccurs="unbounded" />            
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--1100M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="coreDataParameter"><!--12000-->
		<xs:annotation>
			<xs:documentation>
				Basic parameters of the Digital Calibration Certificate (DCC)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="countryCodeISO3166_1" type="dcc:elementStringISO3166"/><!--12010-->
			<xs:element name="usedLangCodeISO639_1" type="dcc:elementStringISO639" maxOccurs="unbounded"/><!--12020-->
			<xs:element name="mandatoryLangCodeISO639_1" type="dcc:elementStringISO639" maxOccurs="unbounded"/><!--12030-->
			<xs:element name="uniqueIdentifier" type="xs:string"/><!--12040-->
			<xs:element name="receiptDate" type="xs:date" minOccurs="0"/><!--12050-->
            
            <!-- Wir setzen uns bewusst über die DIN ISO 17025 hinweg, 
            indem wir die Elemente "endPerformanceDate" und 
            "beginPerformanceDate" als Mandatory definieren. 
            In der 17025 steht drin: 
            Beide Angaben können weggelassen werden, 
            wenn es begründet wird. 
            Aber, es müssen diese beiden Angaben 
            beim Ausführenden der Kalibrierung vorgehalten werden.
            
            Wenn es nur einen Wert gibt, 
            müssen beide Felder mit einem identischen Wert gefüllt werden! -->
            
            <xs:element name="beginPerformanceDate" type="xs:date" /><!--12070-->
            <xs:element name="endPerformanceDate" type="xs:date"/><!--12080-->
			
            <xs:element name="previousReport" type="dcc:hash" minOccurs="0"/><!--12090-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="itemParameter"><!--13000-->
		<xs:annotation>
			<xs:documentation>
				Clear description of the calibration items
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="dcc:textBlock" />
            <xs:element name="description" type="dcc:textBlock" />
            
            <xs:element name="item" maxOccurs="unbounded"><!--1300M-->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="dcc:textBlock" /><!--13010-->
						<xs:element name="owner" type="dcc:contact" minOccurs="0"/><!--00200-->
						
						<xs:element name="description" type="dcc:textBlock" maxOccurs="unbounded"/><!--13020-->
						
                        <xs:element name="descriptionData" type="dcc:byteDataBlock" minOccurs="0" maxOccurs="unbounded"/><!--13040-->
						
                        <xs:element name="manufacturer" type="dcc:contactNotStrict" /><!--13050-->
						<xs:element name="model" type="xs:string" minOccurs="0"/>
						
						<xs:element name="identifications" ><!--13060-->
							<xs:complexType>
								<xs:sequence>
                                    <xs:element name="identification" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="issuer">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="manufacturer" />
                                                            <xs:enumeration value="calibrationLaboratory" />
                                                            <xs:enumeration value="customer" />
                                                            <xs:enumeration value="owner" />
                                                            <xs:enumeration value="other" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="value" type="xs:string" />
                                                <xs:element name="description" type="dcc:textBlock" />
                                            </xs:sequence>
                                            <xs:attribute name="id" type="xs:ID" use="optional"/><!--1300M_A_I-->
                                        </xs:complexType>
                                    </xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--1300M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="calibrationLaboratoryParameter"><!--14000-->
		<xs:annotation>
			<xs:documentation>
				Informations about the calibration laboratory
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="calibrationLaboratoryCode" type="xs:string" minOccurs="0"/><!--14010-->
			<xs:element name="contact" type="dcc:contact" maxOccurs="unbounded"/><!--14020-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="calibrationLocationParameter"><!--15000-->
		<xs:annotation>
			<xs:documentation>
				Locations, where the calibration was done
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="calibrationLocation" maxOccurs="unbounded"><!--1500M-->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="calibrationLocationSites" type="dcc:textBlock" /><!--15010-->
						<xs:element name="beginLocationCalDateTime" type="xs:dateTime" minOccurs="0"/><!--15020-->
						<xs:element name="endLocationCalDateTime" type="xs:dateTime" minOccurs="0"/><!--15030-->
						<xs:element name="location" type="dcc:location" minOccurs="0"/><!--15040-->
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--1500M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="respPersonParameter"><!--16000-->
		<xs:annotation>
			<xs:documentation>
				List of responsible persons for the DCC
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="respPerson" maxOccurs="unbounded"><!--1600M-->
				<xs:complexType>
					<xs:sequence>
<!-- SH 2019-01-23 Mail Alexander: changes in:
							responsiblePerson to person
							eMailResponsiblePerson to eMailPerson
							furtherResponsiblePerson to furtherInfoPerson
-->
						<xs:element name="person" type="xs:string"/><!--16010-->
						<xs:element name="mainSigner" type="xs:boolean" minOccurs="0"/><!--16020-->
						<xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/><!--16030-->
						<xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/><!--16040-->
						<xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/><!--16050-->
						<xs:element name="eMailPerson" type="xs:string" minOccurs="0"/><!--16060-->
						<xs:element name="furtherInfoPerson" type="dcc:textBlock" minOccurs="0" maxOccurs="unbounded"/><!--16070-->
						<xs:element name="location" type="dcc:location" minOccurs="0" /><!--16070-->
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--1600M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="usedMethodParameter"><!--17000-->
		<xs:annotation>
			<xs:documentation>
				Clear description of the used method
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="usedMethod" maxOccurs="unbounded"><!--1700M-->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="dcc:textBlock"/><!--17010-->
						<xs:element name="description" type="dcc:textBlock" maxOccurs="unbounded"/><!--17020-->
						<xs:element name="norm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/><!--17030-->
						<xs:element name="descriptionData" type="dcc:byteDataBlock" minOccurs="0" maxOccurs="unbounded"/><!--17040-->
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--1700M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="externalParameter"><!--21000-->
		<xs:annotation>
			<xs:documentation>
				Information about the external partners
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="external" type="dcc:contact" maxOccurs="unbounded"/><!--2100M-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="sampledMaterialParameter"><!--22000-->
		<xs:annotation>
			<xs:documentation>
				Information about the sampled material
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="sampledMaterial" maxOccurs="unbounded"><!--2200M-->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="plan" type="dcc:textBlock"/><!--22010-->
						<xs:element name="method" type="dcc:textBlock"/><!--22020-->
						<xs:element name="descriptionData" type="dcc:byteDataBlock" minOccurs="0" maxOccurs="unbounded"/><!--22030-->
						<xs:element name="externalSampler" type="dcc:contact" minOccurs="0" maxOccurs="unbounded"/><!--22040-->
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID" use="optional"/><!--2200M_A_I-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="statementParameter"><!--23000-->
		<xs:annotation>
			<xs:documentation>
				Elements for the statements
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="statement" type="dcc:statementMetaDataParameter" maxOccurs="unbounded" /><!--2300M-->
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="statementMetaDataParameter"> 
        <xs:sequence>
            <xs:element name="countryCodeISO3166_1" type="dcc:elementStringISO3166" minOccurs="0" maxOccurs="unbounded"/><!--23010-->
            <xs:element name="convention" type="xs:string" minOccurs="0"/><!--23020-->
            <xs:element name="traceable" type="xs:boolean" minOccurs="0"/><!--23040-->
            <xs:element name="norm" type="xs:string" minOccurs="0"/><!--23030-->
            <xs:element name="reference" type="xs:string" minOccurs="0"/><!--23040-->
            <xs:element name="declaration" type="dcc:textBlock" minOccurs="0"/><!--23040-->
            <xs:element name="valid" type="xs:boolean" minOccurs="0"/><!--23060-->
            <xs:element name="refId" type="xs:IDREF" minOccurs="0"/><!--23060-->
            <xs:element name="date" type="xs:date" minOccurs="0"/><!--23070-->
            <xs:element name="period" type="xs:duration" minOccurs="0"/><!--23080-->
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/><!--2300M_A_I-->
    </xs:complexType>
    
	<xs:complexType name="metrologicallyTraceableParameter"><!--24000-->
		<xs:annotation>
			<xs:documentation>
				Elements for metrologically traceable measurements
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="chainLinkOfCalibrations" type="dcc:hash" maxOccurs="unbounded"/><!--24010-->
			<xs:element name="chainLinkUncertaincy" type="xs:boolean" minOccurs="0"/><!--24020-->
			<xs:element name="chainLinkProcedure" type="xs:boolean" minOccurs="0"/><!--24030-->
			<xs:element name="chainLinkCompetence" type="xs:boolean" minOccurs="0"/><!--24040-->
		</xs:sequence>
	</xs:complexType>
	
	<!--   #####################################################################################

			Elements of the measurementResult part of the DCC
	-->

	<xs:complexType name="influenceConditionParameter"><!--30100-->
		<xs:annotation>
			<xs:documentation>
				Elements for the conditions (e.g. environmental) under which the calibrations were 
				made that have an influence on the measurement results
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="influenceCondition" type="dcc:analysis" maxOccurs="unbounded"/><!--3010M-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="adjustmentConditionParameter"><!--30200-->
		<xs:annotation>
			<xs:documentation>
				Elements for the adjustment conditions (e.g. before and after adjustment) under which the
				calibrations were made that have an influence on the measurement results
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adjustmentCondition" type="dcc:analysis" maxOccurs="unbounded"/><!--3020M-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="repairConditionParameter"><!--30400-->
		<xs:annotation>
			<xs:documentation>
				Elements for the repair conditions (e.g. before and after repair) under which the
				calibrations were made that have an influence on the measurement results
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="repairCondition" type="dcc:analysis" maxOccurs="unbounded"/><!--3040M-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="resultParameter"><!--30600-->
		<xs:annotation>
			<xs:documentation>
				Elements for the  measurement results
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="dcc:analysis" maxOccurs="unbounded"/><!--3060M-->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="analysis"><!--31000-->
		<xs:annotation>
			<xs:documentation>
				All neccessary informations for one part of a measurement
			</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element name="name" type="dcc:elementStringWithLang" maxOccurs="unbounded"/><!--31010-->
				<xs:element name="description" type="dcc:textBlock" minOccurs="0" maxOccurs="unbounded"/><!--31020-->
				<xs:element name="condition" type="dcc:textBlock" minOccurs="0"/><!--31030-->
				<xs:element name="descriptionData" type="dcc:byteDataBlock" minOccurs="0" maxOccurs="unbounded"/><!--31040-->
				<xs:element name="outcome" type="dcc:outcomeBlock"/><!--31050-->
			</xs:sequence>
			<xs:attribute name="lang" type="dcc:elementStringISO639" use="optional"/><!--3100M_A_L-->
			<xs:attribute name="id" type="xs:ID" use="optional"/><!--3100M_A_I-->
	</xs:complexType>
	
	<xs:complexType name="outcomeBlock"><!--32000-->
		<xs:annotation>
			<xs:documentation>
				In the Element "outcome", any of the elements 
				"text", "formula", "byteData", "chart", "image", "data" and "xml"
				can be used multiple times in an arbitrary order. The usage of each element
				is optional. At least one of the elements must be provided.
			</xs:documentation>
		</xs:annotation>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="text" type="dcc:textBlock"/><!--32010-->
				<xs:element name="formula" type="dcc:formulaBlock"/><!--32020-->
				<xs:element name="byteData" type="dcc:byteDataBlock"/><!--32030-->
				<xs:element name="chart" type="dcc:byteDataBlock"/><!--32040-->
				<xs:element name="image" type="dcc:byteDataBlock"/><!--32050-->
				<xs:element name="data" type="dcc:dataBlock"/><!--32060-->
				<xs:element name="xml" type="dcc:xmlBlock"/><!--32070-->
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional"/><!--3200M_A_I-->
	</xs:complexType>

	<xs:complexType name="dataBlock"><!--33000-->
		<xs:annotation>
			<xs:documentation>
				The 'si:dataBlock' type is the element of the DCC that provides measured quantities
				based on the International System of Units (SI). It can contain a single
				SI measurement quantity or a list of SI quantities.
				Furthermore, it can define a hybrid quantity element which allows to
				append a non-SI quantity to a SI measurement quantity.
				The optional attribute ID is for a uniqueID of this block in the DCC.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="quantity" type="dcc:quantity"/><!--33010-->
			<xs:element name="dccList" type="dcc:dccList"/><!--33020-->
		</xs:choice>
		<xs:attribute name="comment" type="xs:string" use="optional"/><!--33000_A_C-->
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--33000_A_I-->
	</xs:complexType>

	<!--  #####################################################################################
		
			Elements for the specification of measurement data (quantities) in the DCC
			(XMl Schema for the secure exchange of measurement data in ICT applications)
  -->
  
	<xs:complexType name="quantity"><!--34000-->
		<xs:annotation>
			<xs:documentation>
				  Basic element for the statement of measurement values in a DCC.
				  The measurement value, its unit and uncertainty are defined by type 'si:real'.
				  The 'unit' must be defined in the SI-system (siunitx format).
				  Additional information can be made according to MRA, Ilac and external 
				  measurements in the 'measurementMetaData' element.
				  In addition, the 'quantity' can contain a comma separated list of independent real quantities ('si:realCS').
				  The 'quantity' has an optional 'name' element and it can have a unique ID.
				  The 'name' element can be repeated with different languages.
	     	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="dcc:textBlock" minOccurs="0" /><!--34010-->
			<xs:choice>
				<xs:element ref="si:real"/><!--34020-->
				<xs:element ref="si:realCS"/><!--34030-->
				<xs:element ref="si:list"/><!--34040-->
				<xs:element ref="si:hybrid"/><!--34050-->
			</xs:choice>
			<xs:element name="ambientConditions" type="dcc:ambientConditionType" minOccurs="0"/><!--34060-->
			<xs:element name="measurementMetaData" type="dcc:measurementMetaDataType" minOccurs="0"/><!--34070-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--34000_A_I-->
	</xs:complexType>

	<xs:complexType name="dccList"><!--35000-->
		<xs:annotation>
			<xs:documentation>
				The 'list' element allows to define a collection of measurement results 
				which are subject to structures with integrity. Basic structures are
				vector quantities. A recursive usage of 'list' allows the creation of
				matrix and tensor structures as well as structures of higher dimension. The 'list' 
				may also be used to give measurement results in combination with some
				ambient conditions at the measurement.
				In this version of the data format, the 'list' supports a global definition of uncertainties
				that are binding for all quantities inside the 'list' element.
				For future versions it is planned to add uncertainty elements for vector quantities
				(e.g. covariance matrix).
				The 'list' element can have a unique ID and several name elements.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="dcc:textBlock" minOccurs="0" /><!--35010-->
			<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/><!--35020-->
			<xs:choice>
				<xs:element name="dccList" type="dcc:dccList" maxOccurs="unbounded" /><!--35030-->
				<xs:element name="quantity" type="dcc:quantity" maxOccurs="unbounded" /><!--35040-->
				<xs:element name="offSysQuantity" type="dcc:offSysQuantity" maxOccurs="unbounded" /><!--35050-->
			</xs:choice>
			<xs:element name="ambientConditions" type="dcc:ambientConditionType" minOccurs="0"/><!--35060-->
			<xs:element name="measurementMetaData" type="dcc:measurementMetaDataType" minOccurs="0"/><!--35070-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--35000_A_I-->
	</xs:complexType>


	<xs:complexType name="ambientConditionType"><!--36100-->
		<xs:annotation>
			<xs:documentation>
				A simple structure which is based on atomic measured quantities and lists for
				the statement of ambient conditions at the measurement.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="quantity" type="dcc:quantity"/><!--36110-->
			<xs:element name="dccList" type="dcc:dccList"/><!--36120-->
		</xs:choice>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--36100_A_I-->
	</xs:complexType>
	
	<xs:complexType name="measurementMetaDataType"><!--36200-->
		<xs:annotation>
			<xs:documentation>
				  TODO: noch anpassen an neue Struktur 
				  The measurement meta data comprises optional information that lead to a measurement result. 
				  The sub-elements should reference the specific and detailed information in the administrative part.
				  Each element is optional and the user should only provide the elements that are relevant
				  for the measurement result.
	     	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metaData" type="dcc:statementMetaDataParameter" maxOccurs="unbounded" /><!--36210-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="offSysQuantity"><!--37000-->
		<xs:annotation>
			<xs:documentation>
				Unrecommended element for stating measured quantities outside the SI-system (off system quantity).
				The statement of measurement units is unchecked and 'offSysQuantities' are not part of the
				quality infrastructure that is provided for DCCs. The unit inside the 'real' element 
				is not regulated.
				The 'offSysQuantity' has an optional 'name' element and it can have a unique ID.
				The 'name' element can be repeated with different languages.
				In addition the quantity can contain a comma separated list of independent real quantities ('si:realCS').
				Furthermore, 'offSysQuantity' can be appended by any additional XML elements that
				is not listed in the DCC schema and data exchange format. Here it is possible to
				add user specific data structures that are already in use.
	     	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="dcc:elementStringWithLang" minOccurs="0" maxOccurs="unbounded"/><!--37010-->
			<xs:choice>
				<xs:element ref="si:real"/><!--37020-->
				<xs:element ref="si:realCS"/><!--37030-->
				<xs:element ref="si:list"/><!--37040-->
			</xs:choice>
			<xs:element name="ambientConditions" type="dcc:ambientConditionType" minOccurs="0"/><!--37060-->
			<xs:element name="measurementMetaData" type="dcc:measurementMetaDataType" minOccurs="0"/><!--37070-->
			<xs:any namespace="##other" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--37000_A_I-->
	</xs:complexType>
	
	
	<!--   #####################################################################################

			Useful elements with the numbers .gt. 90000
-->

	<xs:simpleType name="elementStringISO3166"><!--90010-->
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="elementStringISO639"><!--90020-->
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="elementStringWithLang"><!--90030-->
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lang" type="dcc:elementStringISO639" use="optional"/><!--90030_A_L-->
				<xs:attribute name="id" type="xs:ID" use="optional"/><!--90030_A_I-->
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="location"><!--91100-->
		<xs:choice maxOccurs="unbounded">
			<xs:element name="further" type="dcc:textBlock"/><!--91110-->
			<xs:element name="street" type="xs:string"/><!--91120-->
			<xs:element name="streetNo" type="xs:string"/><!--91130-->
			<xs:element name="postOfficeBox" type="xs:string"/><!--91140-->
			<xs:element name="postCode" type="xs:string"/><!--91150-->
			<xs:element name="city" type="xs:string"/><!--91160-->
			<xs:element name="state" type="xs:string"/><!--91170-->
			<xs:element name="countryCode" type="dcc:elementStringISO3166"/><!--91180-->
			<xs:element name="descriptionData" type="dcc:byteDataBlock"/><!--91190-->
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="contact"><!--91300-->
		<xs:sequence>
			<xs:element name="name" type="xs:string"/><!--91310-->
			<xs:element name="eMail" type="xs:string"/><!--91320-->
			<xs:element name="location" type="dcc:location" /><!--91330-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--91300_A_I-->
	</xs:complexType>

	<xs:complexType name="contactNotStrict"><!--91300-->
		<xs:sequence>
			<xs:element name="name" type="xs:string"/><!--91310-->
			<xs:element name="eMail" type="xs:string" minOccurs="0"/><!--91320-->
			<xs:element name="location" type="dcc:location" minOccurs="0" /><!--91330-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--91300_A_I-->
	</xs:complexType>
	
	<xs:complexType name="hash"><!--91400-->
		<xs:sequence>
			<xs:element name="reference" type="dcc:textBlock"/><!--91410-->
			<xs:element name="referenceID" type="dcc:textBlock"/><!--91420-->
			<xs:element name="procedure" type="xs:string"/><!--91430-->
			<xs:element name="value" type="xs:string"/><!--91440-->
			<xs:element name="linkedReports" type="dcc:hash" minOccurs="0"/><!--91450-->		
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--91400_A_I-->
	</xs:complexType>
	
	<xs:complexType name="textBlock"><!--92100-->
		<xs:annotation>
			<xs:documentation>
				The textBlock defines the type for writing text in the DCC. 
                In this block, the element content can be used many times with different language definition (attribute lang).
				The optional attribute ID is for a unique ID.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="content" type="dcc:elementStringWithLang" maxOccurs="unbounded"/><!--92110-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--92100_A_I-->
	</xs:complexType>
	
	<xs:complexType name="byteDataBlock"><!--92200-->
		<xs:annotation>
			<xs:documentation>
				The byteDataBlock defines a type which allows to add 
				binary encoded files to the measurement result section.
				It is a good practise to use the Base64 
				Data Encodings standard (see RFC 4648).
				The file must be encoded as base64Binary, see RFC 4648. 
				Examples for the content are image files or ZIP archives.
				The element fileName gives the name of the original file.
				Element mimeType is the underlying file type (e.g. zip, jpeg, png).
				Element data contains the base64Binary encoded file.
				The optional attribute ID is for a unique ID of this data block.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileName" type="xs:string"/><!--92210-->
			<xs:element name="mimeType" type="xs:string"/><!--92220-->
			<xs:element name="data" type="xs:base64Binary"/><!--92230-->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--92200_A_I-->
	</xs:complexType>
	
	<xs:complexType name="formulaBlock"><!--92300-->
		<xs:annotation>
			<xs:documentation>
				This data block is used to add formulas and equations to the measurement result section of the DCC.
				A formula is expected to by written by means of the LaTeX ams math formalism. All units in the
				LaTeX expression must follow the siunitx LaTeX standard.
				The formula is written to the siunitx element.
				The optional attribute ID is for a unique ID of this block.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="siunitx" type="xs:string"/><!--92310-->
		</xs:sequence>
		<xs:attribute name="lang" type="xs:string" use="optional"/><!--92300_A_L-->
		<xs:attribute name="id" type="xs:ID" use="optional"/><!--92300_A_I-->
	</xs:complexType>

	<xs:complexType name="xmlBlock"><!--92400-->
		<xs:annotation>
			<xs:documentation>
				This data block is used to add user or application specific XML content to the 
				measurement result section of the DCC.
				The optional attribute ID is for a unique ID of this block.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
            <xs:any namespace="##other" minOccurs="0"/>
        </xs:sequence>
	</xs:complexType>
	
</xs:schema>
